* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.weather-data {
  background-position: 100%;
  background-size: cover;
  min-height: 260px;
  color: #fff;
  text-transform: uppercase;
}

.title {
  font-size: 30px;
  font-weight: 400;
}

.card-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
}

.input-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.search-box {
  padding: 15px 60px;
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 23px;
}

.country-card {
  width: 125px;
  height: 100px;
  background-color: #72C6C7;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.input-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%,-50%);
}

.location-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%,-50%);
}

.weather-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media only screen and (min-width: 768px) {
  .weather-detail {
    gap: 70px;
  }
}

.temp p:first-child{
  font-size: 40px;
}

.weather-data {
  padding-left: 50px;
  padding-top: 70px;
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .weather-data {
    padding-left: 130px;
    padding-top: 80px;

  }
}

.info {
  font-size: 30px;
}

.search-icon , .location-icon {
  cursor: pointer;
}

.sk-circle {
  margin: 100px auto;
}

.error {
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}